@using MotoRent.Client.Services
@implements IDisposable
@inject IModalService ModalService

@foreach (var (modal, index) in m_modals.Select((m, i) => (m, i)))
{
    var isTop = index == m_modals.Count - 1;
    <div class="modal modal-blur fade show" style="display: block;@(isTop ? "" : " visibility: hidden;")" tabindex="-1"
         @onclick="OnBackdropClick" @onkeydown="OnKeyDown">
        <div class="modal-dialog @GetModalClasses(modal)" role="document" @onclick:stopPropagation="true">
            <div class="modal-content">
                @if (modal.Options.ShowHeader)
                {
                    <div class="modal-header @GetHeaderStatusClass(modal)">
                        <h5 class="modal-title">@modal.Title</h5>
                        @if (modal.Options.ShowCloseButton)
                        {
                            <button type="button" class="btn-close" @onclick="OnCloseClick"></button>
                        }
                    </div>
                }
                <CascadingValue Value="m_modalInstance">
                    @if (modal.ContentFragment is not null)
                    {
                        @modal.ContentFragment
                    }
                    else
                    {
                        <DynamicComponent Type="@modal.ComponentType" Parameters="@modal.Parameters" />
                    }
                </CascadingValue>
            </div>
        </div>
    </div>
    @if (isTop)
    {
        <div class="modal-backdrop fade show"></div>
    }
}

@code {
    private IReadOnlyList<ModalState> m_modals = [];
    private ModalInstance? m_modalInstance;

    protected override void OnInitialized()
    {
        this.ModalService.OnChange += this.OnModalChange;
        this.m_modals = this.ModalService.ModalStack;
        this.m_modalInstance = new ModalInstance(this.ModalService);
    }

    private void OnModalChange()
    {
        this.m_modals = this.ModalService.ModalStack;
        this.InvokeAsync(this.StateHasChanged);
    }

    private static string GetModalClasses(ModalState modal)
    {
        var classes = new List<string>();

        classes.Add(modal.Options.Size switch
        {
            ModalSize.Small => "modal-sm",
            ModalSize.Medium => "modal-md",
            ModalSize.Large => "modal-lg",
            ModalSize.ExtraLarge => "modal-xl",
            ModalSize.Fullscreen => "modal-fullscreen",
            _ => "modal-lg"
        });

        if (modal.Options.Centered == true)
        {
            classes.Add("modal-dialog-centered");
        }

        if (modal.Options.Scrollable == true)
        {
            classes.Add("modal-dialog-scrollable");
        }

        return string.Join(" ", classes);
    }

    private static string GetHeaderStatusClass(ModalState modal)
    {
        if (string.IsNullOrEmpty(modal.Options.StatusColor))
            return string.Empty;

        return $"bg-{modal.Options.StatusColor}";
    }

    private void OnBackdropClick()
    {
        var topModal = this.m_modals.Count > 0 ? this.m_modals[^1] : null;
        if (topModal?.Options.CloseOnClickOutside == true)
        {
            this.ModalService.Close(ModalResult.Cancel());
        }
    }

    private void OnKeyDown(KeyboardEventArgs e)
    {
        var topModal = this.m_modals.Count > 0 ? this.m_modals[^1] : null;
        if (e.Key == "Escape" && topModal?.Options.CloseOnEsc == true)
        {
            this.ModalService.Close(ModalResult.Cancel());
        }
    }

    private void OnCloseClick()
    {
        this.ModalService.Close(ModalResult.Cancel());
    }

    public void Dispose()
    {
        this.ModalService.OnChange -= this.OnModalChange;
    }
}
