@using MotoRent.Domain.Entities
@inherits LocalizedComponentBase<DetailsTab>

<div class="row g-3">
    <div class="col-12">
        <h4>@Accident.Title</h4>
    </div>

    <div class="col-md-6">
        <label class="form-label text-secondary">@Localizer["Location"]</label>
        <div>@Accident.Location</div>
    </div>

    @if (!string.IsNullOrEmpty(Accident.GpsCoordinates))
    {
        <div class="col-md-6">
            <label class="form-label text-secondary">@Localizer["GpsCoordinates"]</label>
            <div>@Accident.GpsCoordinates</div>
        </div>
    }

    <div class="col-12">
        <label class="form-label text-secondary">@Localizer["Description"]</label>
        <div class="bg-light p-3 rounded">
            @if (string.IsNullOrEmpty(Accident.Description))
            {
                <span class="text-secondary fst-italic">@Localizer["NoDescription"]</span>
            }
            else
            {
                @Accident.Description
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Accident Accident { get; set; } = null!;
}
